.textCell {
  text-overflow: ellipsis;
  overflow: hidden;

  margin: 3px 6px;

  &Container {
    overflow: hidden;

    flex-grow: 1;
    background: #1d1d1d;

    display: flex;
    align-items: center;

    &Empty {
      flex-grow: 1;
      background: #141414;
    }
  }
}

.containerBase {
  flex-grow: 1;
  justify-content: center;
}

.typeCell {
  display: flex;
  flex-direction: column;
  align-items: center;

  & span {
    margin: 2px 0;
    font-weight: bold;
  }

  &Container {
    @extend .containerBase;
  }

  &Type- {
    &event {
      background-color: #229;
    }

    &request,
    &handle-request,
    &wrapped-request {
      background: #922;
    }

    &response,
    &handle-response,
    &wrapped-response {
      background: #292;
    }
  }
}

.headerCell {
  &Container {
    @extend .containerBase;
  }
}

.indexCell {
  align-items: center;

  &Container {
    @extend .containerBase;
  }

  &Index {
    font-weight: bold;
  }

  &Timestamp {
    font-weight: lighter;
  }
}
